/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
     Autor: Walter Quichimbo
*/

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E8F0F2;
}
.cabecera-barra{
    width: 100%;
    background-color: #e7e7e7;
    background: #e7e7e7;
    box-shadow: 2px 2px 7px 1px #cccccc;
}
.menuBarra{
    background-color: #e7e7e7 !important;
    background: #e7e7e7 !important;
    border-style: none;
    margin:0px !important;
    margin-top: 0px !important;
    border-radius: 0px !important;
    border-color: #e7e7e7 !important;
    border:1px solid #e7e7e7 !important;
}

.menuBarra li:hover a, .link-active, .current-menu-item a{
    background-color: transparent;
    background: none;
    box-shadow: none;
    outline: none;
    color:#1976D3;
}
.menuBarra>ul.ui-menu-list>li{
    font-size: 14px !important;
    box-shadow: none;
    margin: 0;
    outline: none;
    border-radius: 0px;
}

.item .ui-menu-child{
    background: none;
    box-shadow: none;
    outline: none;
    background:#eee !important; 
    border-radius: 4px;
    color:#007bff !important; 
    box-shadow:none;
}
/*.item_2:hover{
    width:100%; 
    background:#29a0c7 !important; 
    color:#fff !important;
}*/


.box_data_panel{
    text-align: center;
}
.panel_continer{
    text-align: center;
    margin: 0;
    padding: 0;
    transition: all .3s ease;
}
.centro_panel{
    display: inline-block;
    width: 100%;
    transition: all .3s ease;
}
.box_campos{
    display: inline-block;
    vertical-align: top;
    margin: 10px;

}
.box_caja_op{
    width: 222px;
    background: #fff;
    border-radius: 7px;
    padding: 20px 10px;;
    box-shadow: 0px 0px 1px 0px #BABABA;
    border: 1px solid #e1e1e1;
    text-align: center;
    font-family: sans-serif;
}
.ob{
    display: block;
}
.title_panel_re{
    display: inline-block;
    color: #1976D3;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 150px;
    line-height: 20px;
}
.icono_panel{
    width: 60px;
    display: inline-block;
}
.label_txt{
    color: #454545;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
.campo_txt{
    display: inline-block;
    background: transparent;
    padding: 8px 10px;
    margin-bottom: 15px;
    margin-top: 7px;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    outline: none;
    color: #454545;
    text-align: center;
    font-size: 15px;
}
.des_label{
    color: #454545;
    margin-top: 7px;
    margin-bottom: 15px;
    line-height: 20px;
}
.box_caja_op:hover .des_label{
    color: #000;
}
.btn_form{
    width:200px;
    height: 36px;
    margin: auto;
    background: #57a3f4; 
    color:#454545;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    margin-top: 4px; 
    transition: all .3s ease; 
    
}
.btn_form:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545;
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
    cursor: pointer;
}


/*----Modulos------*/
.title_modulos{
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1976D3;
    text-align: center
}
.panel_continer{
    text-align: center;
    margin: 0;
    padding: 0;
}

/*  QUITAR ESTILOS PRIMEFACES*/
.ui-inputfield {
    margin: 0;
    height: 20px;
    line-height: 20px;
    background: #ffffff;
    font-weight: normal;
    outline: medium none;
    box-shadow: inset 0 0 0 #8f8f8f!important;
    -webkit-box-shadow: inset 0 0 0 #8f8f8f!important;
    outline: none !important;
}
.ui-selectonemenu .ui-selectonemenu-label {
    width: 100%;
    border: none;
    display: block;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    margin-bottom: 0px;
    white-space: nowrap;
    font-weight: normal;    
}

.boxContainerData2{
    width: 860px;
    border-radius: 6px;
    background: #fff;
    margin: auto;
    transition: all .3s ease;
    box-shadow: 0px 0px 1px 1px #ccc;
    -webkit-box-shadow: 0px 0px 1px 1px #ccc;
}

.ui-selectonemenu{
     width: 98% !important;
     font-size: 16px !important;
     box-shadow:none;
     outline: none;
     margin: 0;
     margin-bottom: 0px !important;
     
}
.ui-selectonemenu-label{
     width: 96% !important;
     color:#4f8ff4;
}  
.camposDeDatos2.ui-inputfield{
    width: 97%;
    padding-left: 5px;
    text-align: left;
    font-size: 16px !important;
    color:#4f8ff4;
 
}

.calendarClass2 .ui-inputfield{
    width: 97%;
    height: 18px;
    padding-left: 5px;
    font-size: 17px !important;
    color:#4f8ff4;
    
}
.ui-selectonemenu .ui-selectonemenu-label {
    width: 100%;
    border: none;
    display: block;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    margin-bottom: 0px;
    white-space: nowrap;
    font-weight: normal;    
}

.ui-selectonemenu .ui-selectonemenu-label.ui-inputfield.ui-corner-all {
    text-overflow: ellipsis;
}
.botones2{
    width: 44%;
    height: auto;
    border:none;   
    background: none;
    margin: 10px;
    outline: none;
    display: inline-block;
    border:none;
    transition: all .3s ease;
vertical-align: top;
margin: auto;
}

.botones21{
    width: 65%;
    height: auto;
    border:none;   
    background: none;
    outline: none;
    display: inline-block;
    border:none;
    transition: all .3s ease;
vertical-align: top;
margin: 4px;
}
.botones22{
    width: 32%;
    height: auto;
    border:none;   
    background: none;
    outline: none;
    display: inline-block;
    border:none;
    transition: all .3s ease;
vertical-align: top;
margin: 4px;

}
.botones23{
    width: 99%;
    height: auto;
    border:none;   
    background: none;
    outline: none;
    display: inline-block;
    border:none;
    transition: all .3s ease;
vertical-align: top;
margin: 4px;

}
.botones24{
    width: 15%;
    height: auto;
    border:none;   
    background: none;
    outline: none;
    display: inline-block;
    border:none;
    transition: all .3s ease;
vertical-align: top;
margin: 4px;

}
.cancelar.ui-button{
    height: 50px; 
    background: #A0A069; 
    font-size: 12px; 
    border-radius: 5px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    margin-right: 5px;  
    margin-top: 4px; 
    margin-bottom: 5px;
    transition: all .3s ease;
}
.cancelar:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545; 
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
}
/*   Informacion ------------------------------>>>>>>>>>>>  */
.boxInfo{
    background-color: #fff;
    width: 460px;
    height: auto;
    margin: auto;
    border-style: none;
    box-shadow: 0px 0px 1px 0px #BABABA;
    border: 1px solid #e1e1e1;
    padding: 40px 20px;
    text-align: center;
}
.boxInfo p b{
    font-family: Arial;
    font-size: 22px;
    color: #6F6F71;
}
.textInfo{
    color: #1976D3;
    padding-top: 25px;
    font-weight: bold;
    font-family: arial;
    font-size: 16px;
}
.fotosInfo{
    width: 95px;
    height: 95px;
    border-radius: 100px;
    display: inline-block;
    margin-left: 10px;
    object-fit:cover;
    object-position:center center;
}
.datos:hover .fotosInfo{
    box-shadow: 0px 0px 1px 1px #1976D3;
}
.descripcionFotos{
    width: 100%;
    color: #6F6F71;
    padding-top: 5px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}
.TitulosDescripcionFotos{
    width: 100%;
    color: #6F6F71;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.datos{
    width:74%;
    margin: auto;
    display: flex;
    padding: 10px 5px;
    transition: all .3s ease; 
}
.texto_des{
    width: 210px;
    padding-top: 10px;
    margin-left: 20px;
    text-align: center;
    transition: all .3s ease; 
}
.DivRegresar{
    padding-left: 15px;
    padding-top: 20px;
}
.logo_istl{
    width: 140px;
    display: inline-block;
}
.box_logo{
    text-align: center;
    margin-bottom: 10px;
}

.title_modulos{
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1976D3;
    text-align: center
}

/* SELECT REPORTES ---------------------->>>>>>>>>>>>>>>*/

.combo{
    width: 90%;
    height: 42px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #454545;
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;
    border: none;
    -moz-border:none;
    box-shadow: none;
    -moz-box-shadow:none;
    outline: none;
    -moz-outline:none;
    transition: all 300ms;
    background: none;
    -moz-background:none;
    border-bottom: 2px solid #f0f3f4;
}

.combo:hover{
    border-bottom: 2px solid #98c2bb;
    color: #024959;

}
.combo:focus{
    border-bottom: 2px solid #57a3f4;
}
/* ESTILOS REPORTE*/
.data_campos_filto{
    width: 500px;
    margin: auto;
    border-radius: 7px;
    padding: 30px 40px;
    background: #fff;
    box-shadow: 0px 0px 1px 0px #BABABA;
    border: 1px solid #e1e1e1;
    display:block;
   
}
.title_reporte{
    font-family: sans-serif;
    color: #1976D3;
    font-weight: bold;
    font-size: 22px;
    margin: 10px 70px;
}
.labelLateral{
    display: block;
    width: 100%;
    margin: auto;
    color: #454545;
    font-weight: bold;
    font-size: 18px !important;
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: left;
}
.input_txt_re{
    width: 200px;
}

.btn_impReporte{
 width:140px;
    height: 36px;
    margin: auto;
    background: #57a3f4; 
    color:#454545;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    margin-top: 4px; 
    transition: all .3s ease; 
}
.btn_impReporte:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545;
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
    cursor: pointer;
}


.title_modulos{
    width: 100%;
    padding: 10px 0px;
    font-family: Arial;
    font-size: 28px !important;
    text-align: center;

}
/* DIALOG ------------------->>>>>>>>>*/
.ui-dialog.ui-widget-content {
    background-image: none;
    background-color: whitesmoke;
    border:none;
    outline: none;
}
.ui-dialog-titlebar.ui-widget-header {
    background: #57a3f4 !important;
    color: white !important;
    font-weight: normal;
    font-size: 18px !important;
    padding: 5px 10px;
}

/*---------------------ESTILOS PANELGRILD----------------------*/
.ui-panelgrid>*>tr,.ui-panelgrid .ui-panelgrid-cell{
    background: whitesmoke;
    font-size: 15px;
    border-style: hidden !important;
}

.ui-dialog{
    background: whitesmoke;
    height: auto;
}

.ui-dialog .ui-outputlabel{
    font-weight: bold;
}
.ui-dialog .ui-inputfield{
    width: 94%;
    height: 20px;
    line-height: 20px;
    font-size: 13px !important; 
}
.ui-selectonemenu{
     width: 99% !important;
}
.ui-selectonemenu-label{
     width: 96% !important;
} 
/*ESTILOS TABLA ------------------>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.ui-panel{
    border-radius: 0px;
    background: none;
    border: none;
    margin-bottom: 100px;

}
.ui-datatable-header{
    background-color: #e8e7e7;
    border:1px solid #e8e7e7;
    box-shadow:none;

}

.ui-datatable .ui-column-filter{
    background:none;
    width:0px;
    height:0px;
    padding: 0;
    margin: 0;
    box-shadow:none;
    border:none;
    outline: none;
    display: none;
}
.ui-datatable .ui-sortable-column{
    background:  #9ecdfb;
    border:1px solid #9ecdfb;
    box-shadow:none;
    font-weight: normal;
    outline: none;
    border: none;
    color: #000;
}

.ui-datatable thead tr {
    height: 30px;   
    font-size: 13px !important;
    font-weight: normal;
    box-shadow:none;
    outline: none;
    border:none;
    color: #000;

}
.ui-datatable tbody tr {
    height: 40px;   
    background: white;
    font-size: 14px;
    border: 1px solid #E3E5E6;
}
.tabla.ui-datatable .ui-datatable-data tr.ui-state-hover{
    box-shadow: none;
    border:none;
    outline: none;
    border: 1px solid #E3E5E6; 
    background: #F0FFFF;
    color: #000;
}

.tabla.ui-datatable tr.ui-state-highlight{

    background: #fbfbd3;
    border:none;
    outline: none;
    border: 1px solid #E3E5E6;
    color: black;
    text-shadow:none;
}
.ui-datatable .ui-datatable,.ui-datatable .ui-paginator{
    background: none;
    margin-top: 5px;
    border:none;
    background: none;
}


.ui-datatable .ui-datatable-footer{
    border: none;
    border-radius: 0px;
    background: none;

}
.title_datosPersonales{
    font-family: Arial;
    background-color: #4f8ff4;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow:1px 1px #454545;
    padding: 5px 0px;
    border-radius: 6px;
}
.labelDatos{
    display: block;
    color: #454545;
    font-size: 14px !important;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px 5px;
    font-family: Arial;
    text-align: left;
}
.crear.ui-button{
    background: #57a3f4; 
    height: 30px; 
    font-size: 13px !important; 
    font-weight: bold;
    border-radius: 3px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    color:#000;
    margin-right: 5px;  
    margin-top: 4px; 
    margin-bottom: 5px;
    transition: all .3s ease; 
}
.crear:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545;
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
    cursor: pointer;
}
.ver.ui-button{
    background: silver; 
    height: 30px; 
    font-size: 13px !important; 
    border-radius: 3px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    margin-right: 5px;  
    margin-top: 4px; 
    margin-bottom: 5px;
    transition: all .3s ease;
}
.ver:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545; 
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
    cursor: pointer;
}
.editar.ui-button{
    background: #64cdad; 
    height: 30px; 
    font-size: 13px !important; 
    border-radius: 3px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    margin-right: 5px; 
    margin-top: 4px; 
    margin-bottom: 5px;
    transition: all .3s ease;
}
.editar:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545; 
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
}
.eliminar.ui-button{
    background: #e26c6c; 
    height: 30px; 
    font-size: 13px !important; 
    border-radius: 3px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    margin-right: 5px;  
    margin-top: 4px; 
    margin-bottom: 5px;
    transition: all .3s ease;
}
.eliminar:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545; 
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
    cursor: pointer;
}
.btn_g.ui-button{
    background: #57a3f4;
    font-size: 13px !important;
    border:none;;
    border-radius: 3px;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    transition: all .3s ease;
    color: #000;
    margin: 3px;
}
.btn_g:hover{
    color: white;
}
.btn_s.ui-button{
    background: #e26c6c;
    font-size: 13px !important;
    border:none;;
    border-radius: 3px;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    transition: all .3s ease;
    color: #000;
    margin: 3px;
}
.btn_s:hover{
    color: white;
}

/* ESTILOS LOGOUT*/
.logout.ui-dialog{
    border: none;
    margin: 0;
    padding: 0;
    margin: auto;
    border-radius: 3px;
    background: white;
     box-shadow: none;
     box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75) !important;
     padding-top: 10px;
     padding-bottom: 10px;
}

.textoSalida{

    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 24px;
    color: #454545;
    font-family: Arial;
}

.boton.ui-button{
     width: 100px;
    height: 40px;
    background: #29a0c7;
    font-size: 18px !important;
    font-weight: normal;
    color: #000;
    border: none;   
    margin-top: 20px;
    border-radius: 0px;
    outline: none;
    margin: 5px;
    box-shadow: none;
    text-shadow:none;
    transition: all .3s ease;

}
.boton:hover{
     background: #007bff;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 1px 1px #454545; 
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
}
.boton2.ui-button{
    width: 100px;
    height: 40px;
    background: #e36060;
    font-size: 18px !important;
    font-weight: normal;
    color: #000;
    border: none;   
    margin-top: 20px;
    border-radius: 0px;
    outline: none;
    margin: 5px;
    box-shadow: none;
    text-shadow:none;
    transition: all .3s ease;
}
.boton2:hover{
    background: #e25555;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 1px 1px #454545; 
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
}
.scroll{
    height: 500px;
    display: block;
    overflow: scroll;

}

.foto{
    position: absolute;
    z-index: 100;
    margin-top: 45px !important; 
    margin-left: 44px !important;
    display: none;
    outline: none;
    background: none;
    box-shadow: none;
    border:none;
}
.imagen:hover .foto{
    display: block;
}
@media(max-width:1024px){
    .boxContainerData2{
        width: 94%;
         margin: auto;
    }
}
@media(max-width:720px){
    .boxContainerData{
        width: 96%;
        margin: auto;
    }
    .botones2{
        width:90%;
        margin: auto;
    }
     .boxContainerData2{
        width: 96%;
       
    }
    .botones21{
        width:90%;
        margin: auto;
    }
    .botones22{
        width:90%;
        margin: auto;
    }
    .botones23{
        width:90%;
        margin: auto;
    }
    .botones24{
        width:90%;
        margin: auto;
    }
    #foto{
        margin-top: 14px;
    }
    #espa{
        display: none;
    }
    
    .btn_actualizarEstudiante{
        font-size: 27px;
        width: 180px;
    }
}
@media only screen and (max-width: 640px){ 
    .boxInfo{
        width: 82%;
    }
    .datos{
        width:80%;
        margin: auto;
        display: flex;
        padding: 5px 5px;
    }
    .texto_des{
        width: 100%;
    }
}