/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Autor: Walter Quichimbo
*/
*{
    margin: 0;
    padding: 0;
}
html {
  min-height: 100%;
  position: relative;
}
body{
    background-color: #E8F0F2;
}
.cabecera-barra{
    width: 100%;
    background-color: #e7e7e7;
    background: #e7e7e7;
    box-shadow: 2px 2px 7px 1px #cccccc;
}
.menuBarra{
    background-color: #e7e7e7 !important;
    background: #e7e7e7 !important;
    border-style: none;
    margin:0px !important;
    margin-top: 0px !important;
    border-radius: 0px !important;
    border-color: #e7e7e7 !important;
    border:1px solid #e7e7e7 !important;
}
.menuBarra li a, .link-active, .current-menu-item a{
        padding-left: 2px !important;
    padding-right: 2px !important;
}
.menuBarra li:hover a, .link-active, .current-menu-item a{
    background-color: transparent;
    background: none;
    box-shadow: none;
    outline: none;
    color:#1976D3;
    border-radius: 3px 3px !important;
}
.menuBarra>ul.ui-menu-list>li{
    font-size: 14px !important;
    box-shadow: none;
    margin: 0;
    outline: none;
    border-radius: 0px;
    padding: 0px 2px !important;
}


.item .ui-menu-child{
    background: none;
    box-shadow: none;
    outline: none;
    background:#eee !important; 
    border-radius: 4px;
    color:#007bff !important; 
    box-shadow:none;
}
.salir.ui-button{
    background:#e25555 !important; 
    color:#fff !important;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    padding: 0px 0px !important;
    margin: 0px 0px !important;
}
.salir:hover{
      box-shadow: 0px 0px 1px 1px #454545;
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
}

.box_data_panel{
    text-align: center;
}
.panel_continer{
    text-align: center;
    margin: 0;
    padding: 0;
}
.centro_panel{
    display: inline-block;
    width: 100%;
}
.box_campos{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.box_caja_op{
    width: 222px;
    background: #fff;
    border-radius: 7px;
    padding: 20px 10px;;
    box-shadow: 0px 0px 1px 0px #BABABA;
    border: 1px solid #e1e1e1;
    text-align: center;
    font-family: sans-serif;
}
.ob{
    display: block;
}
.title_panel_re{
    display: inline-block;
    color: #1976D3;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 150px;
    line-height: 20px;
}
.icono_panel{
    width: 60px;
    display: inline-block;
}
.label_txt{
    color: #1976D3;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
.campo_txt{
    display: inline-block;
    background: transparent;
    padding: 8px 10px;
    margin-bottom: 15px;
    margin-top: 7px;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    outline: none;
    color: #727272;
}
.des_label{
    color: #454545;
    margin-top: 7px;
    margin-bottom: 15px;
    line-height: 20px;
}
.box_caja_op:hover .des_label{
    color: #000;
}
.btn_form{
    width:140px;
    height: 36px;
    margin: auto;
    background: #57a3f4; 
    color:#454545;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    margin-top: 4px; 
    transition: all .3s ease; 
}
.btn_form:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545;
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
    cursor: pointer;
}
/*  QUITAR ESTILOS PRIMEFACES*/
.ui-inputfield {
    margin: 0;
    padding: 5px;
    background: #ffffff;
    font-weight: normal;
    outline: medium none;
    box-shadow: inset 0 0 0 #8f8f8f!important;
    -webkit-box-shadow: inset 0 0 0 #8f8f8f!important;
}
/*Datos Personales  ------------------>>>>>>>>>>>>>>>>>>>>>*/
.boxContainerData{
    width: 660px;
    border-radius: 6px;
    background: #fff;
    margin: auto;
    transition: all .3s ease;
/*    box-shadow: 0px 0px 1px 1px #ccc;
    -webkit-box-shadow: 0px 0px 1px 1px #ccc;*/
    padding: 10px 5px;

}
.boxContainerData2{
    width: 860px;
    border-radius: 6px;
    background: #fff;
    margin: auto;
    transition: all .3s ease;
    box-shadow: 0px 0px 1px 1px #ccc;
    -webkit-box-shadow: 0px 0px 1px 1px #ccc;
  

}
.title_datosPersonales{
    font-family: Arial;
    background-color: #4f8ff4;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow:1px 1px #454545;
    padding: 5px 0px;
    border-radius: 6px;
}
.continerPersonales{
    width: 42%;
    border:1px solid red;
}
.botones2{
    width: 44%;
    height: auto;
    border:none;   
    background: none;
    margin: 10px;
    outline: none;
    display: inline-block;
    border:none;
    transition: all .3s ease;
vertical-align: top;
margin: auto;
}
.botones21{
    width: 65%;
    height: auto;
    border:none;   
    background: none;
    outline: none;
    display: inline-block;
    border:none;
    transition: all .3s ease;
vertical-align: top;
margin: 4px;
}
.botones22{
    width: 32%;
    height: auto;
    border:none;   
    background: none;
    outline: none;
    display: inline-block;
    border:none;
    transition: all .3s ease;
vertical-align: top;
margin: 4px;

}
.botones23{
    width: 99%;
    height: auto;
    border:none;   
    background: none;
    outline: none;
    display: inline-block;
    border:none;
    transition: all .3s ease;
vertical-align: top;
margin: 4px;

}


.labelDatosPersonales{
    display: block;
    color: #454545;
    font-size: 16px !important;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px 5px;
    font-family: Arial;
    text-align: left;
}
.labelDatos{
    display: block;
    color: #454545;
    font-size: 14px !important;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px 5px;
    font-family: Arial;
    text-align: left;
}

.camposDeDatos.ui-inputfield{
    width: 90%;
    margin: auto; 
    margin-top: 3px;
    padding-left: 5px;
    text-align: left;
    margin-bottom: 5px;
    font-size: 17px !important;
    box-shadow: none;
    border:none;
    border-radius: 0px;
    color:#186bbe;
    transition: all .3s ease;
    background: #f2f2f2;
}
.camposDeDatos:hover{
    background: #ffffcc;
    transform: translateY(-3px);
}
.camposDeDatos:focus{
    background: #ffffcc;
}
.txtC{
    width: 94%;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 18px;  
    outline: none;
    border:none;
    color:#186bbe;
    border-radius: 0px;
    margin-bottom: 10px;
    background: #f2f2f2;
    transition: all .3s ease;
}

.txtC:hover{
    background: #ffffcc;
    transform: translateY(-3px);
}
.txtC:focus{
    background: #ffffcc;
}
.calendarClass .ui-inputfield{
    width: 90%;
    height: 21px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 18px !important;
    border:none;
    color:#186bbe;
    background: #f2f2f2;
    transition: all .3s ease;
}
.calendarClass .ui-inputfield:hover{
    background: #ffffcc;
    transform: translateY(-3px);
}
.calendarClass .ui-inputfield:focus{
    background: #ffffcc;

}
.ui-fileupload-buttonbar {
    background: transparent none;
    border: none;
}
.ui-fileupload-content {
    border: none;
}

.ui-fileupload-buttonbar .ui-fileupload-choose {
    background-color: #eee;
}
.btn_actualizarEstudiante{
    width:140px;
    height: 36px;
    margin: auto;
    background: #64cdad; 
    color:#454545;
    font-size: 16px !important;
    font-weight: bold;
    border-radius: 3px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    margin-top: 4px; 
    transition: all .3s ease; 
}
.btn_actualizarEstudiante:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545;
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
    cursor: pointer;
}

.mesageEs{
    color: #1976D3;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 15px;
    display: inline-block;
}

/*   Informacion ------------------------------>>>>>>>>>>>  */
.boxInfo{
    background-color: #fff;
    width: 460px;
    height: auto;
    margin: auto;
    border-style: none;
    box-shadow: 0px 0px 1px 0px #BABABA;
    border: 1px solid #e1e1e1;
    padding: 40px 20px;
    text-align: center;
}
.boxInfo p b{
    font-family: Arial;
    font-size: 22px;
    color: #6F6F71;
}
.textInfo{
    color: #1976D3;
    padding-top: 25px;
    font-weight: bold;
    font-family: arial;
    font-size: 16px;
}
.fotosInfo{
    width: 95px;
    height: 95px;
    border-radius: 100px;
    display: inline-block;
    margin-left: 10px;
    object-fit:cover;
    object-position:center center;
}
.datos:hover .fotosInfo{
    box-shadow: 0px 0px 1px 1px #1976D3;
}
.descripcionFotos{
    width: 100%;
    color: #6F6F71;
    padding-top: 5px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}
.TitulosDescripcionFotos{
    width: 100%;
    color: #6F6F71;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.datos{
    width:74%;
    margin: auto;
    display: flex;
    padding: 10px 5px;
    transition: all .3s ease; 
}
.texto_des{
    width: 210px;
    padding-top: 10px;
    margin-left: 20px;
    text-align: center;
    transition: all .3s ease; 
}
.DivRegresar{
    padding-left: 15px;
    padding-top: 20px;
}
.logo_istl{
    width: 140px;
    display: inline-block;
}
.box_logo{
    text-align: center;
    margin-bottom: 10px;
}

/*  ESTILOS LOGOUT*/
.logout.ui-dialog{
    border: none;
    margin: 0;
    padding: 0;
    margin: auto;
    border-radius: 3px;
    background: white;
    box-shadow: none;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75) !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.textoSalida{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 24px;
    color: #454545;
    font-family: Arial;
}
.boton.ui-button{
    width: 100px;
    height: 40px;
    background: #29a0c7;
    font-size: 18px !important;
    font-weight: normal;
    color: #000;
    border: none;   
    margin-top: 20px;
    border-radius: 0px;
    outline: none;
    margin: 5px;
    box-shadow: none;
    text-shadow:none;
    transition: all .3s ease;
}
.boton:hover{
    background: #007bff;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 1px 1px #454545; 
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
}
.boton2.ui-button{
    width: 100px;
    height: 40px;
    background: #e36060;
    font-size: 18px !important;
    font-weight: normal;
    color: #000;
    border: none;   
    margin-top: 20px;
    border-radius: 0px;
    outline: none;
    margin: 5px;
    box-shadow: none;
    text-shadow:none;
    transition: all .3s ease;
}
.boton2:hover{
    background: #e25555;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 1px 1px #454545; 
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
}
.eliminar.ui-button{
    background: #e26c6c; 
    height: 30px; 
    font-size: 13px !important; 
    border-radius: 3px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    margin-right: 5px;  
    margin-top: 4px; 
    margin-bottom: 5px;
    transition: all .3s ease;
}
.eliminar:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545; 
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
    cursor: pointer;
}
.title_modulos{
    width: 100%;
    padding: 10px 0px;
    font-family: Arial;
    font-size: 28px !important;
    text-align: center;
    font-weight: bold;
}

/*ESTILOS TABLA ------------------>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.ui-panel{
    border-radius: 0px;
    background: none;
    border: none;
    margin-bottom: 100px;

}
.ui-datatable-header{
    background-color: #e8e7e7;
    border:1px solid #e8e7e7;
    box-shadow:none;

}

.ui-datatable .ui-column-filter{
    background:none;
    width:0px;
    height:0px;
    padding: 0;
    margin: 0;
    box-shadow:none;
    border:none;
    outline: none;
    display: none;
}
.ui-datatable .ui-sortable-column{
    background:  #0f96d9;
    border:1px solid #0f96d9;
    box-shadow:none;
    font-weight: normal;
    outline: none;
    border: none;
    border-radius: 0px 0px !important;
    color: #000;
}


.ui-datatable thead tr {
    height: 30px;   
    font-size: 13px !important;
    font-weight: normal;
    box-shadow:none;
    outline: none;
    border:none;
    color: #000;

}
.ui-datatable tbody tr {
    height: 40px;   
    background: white;
    font-size: 14px;
    border: 1px solid #E3E5E6;
}
.tabla.ui-datatable .ui-datatable-data tr.ui-state-hover{
    box-shadow: none;
    border:none;
    outline: none;
    border: 1px solid #E3E5E6; 
    background: #F0FFFF;
    color: #000;
}

.tabla.ui-datatable tr.ui-state-highlight{

    background: #fbfbd3;
    border:none;
    outline: none;
    border: 1px solid #E3E5E6;
    color: black;
    text-shadow:none;
}
.ui-datatable .ui-datatable,.ui-datatable .ui-paginator{
    background: none;
    margin-top: 5px;
    border:none;
    background: none;
}


.ui-datatable .ui-datatable-footer{
    border: none;
    border-radius: 0px;
    background: none;

}
.ver.ui-button{
    background: silver; 
    height: 30px; 
    font-size: 13px !important; 
    border-radius: 3px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    margin-right: 5px;  
    margin-top: 4px; 
    margin-bottom: 5px;
    transition: all .3s ease;
}
.ver:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545; 
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
    cursor: pointer;
}
/* MATRICULA ---------------->>>>>>>>>>>>>>>>>><*/

.ui-selectonemenu{
     width: 98% !important;
     font-size: 16px !important;
     box-shadow:none;
     outline: none;
     margin: 0;
     margin-bottom: 0px !important;
     
}
.ui-selectonemenu-label{
     width: 96% !important;
     color:#4f8ff4;
}  
.camposDeDatos2.ui-inputfield{
    width: 97%;
    padding-left: 5px;
    text-align: left;
    font-size: 16px !important;
    color:#4f8ff4;
 
}

.calendarClass2 .ui-inputfield{
    width: 97%;
    height: 18px;
    padding-left: 5px;
    font-size: 17px !important;
    color:#4f8ff4;
    
}
.ui-selectonemenu .ui-selectonemenu-label {
    width: 100%;
    border: none;
    display: block;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    margin-bottom: 0px;
    white-space: nowrap;
    font-weight: normal;    
}

.ui-selectonemenu .ui-selectonemenu-label.ui-inputfield.ui-corner-all {
    text-overflow: ellipsis;
}

.crear.ui-button{
    background: #57a3f4; 
    height: 30px; 
    font-size: 13px !important; 
    font-weight: bold;
    border-radius: 3px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    color:#000;
    margin-right: 5px;  
    margin-top: 4px; 
    margin-bottom: 5px;
    transition: all .3s ease; 
}
.crear:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545;
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
    cursor: pointer;
}

.foto{
    position: absolute;
    z-index: 100;
    margin-top: 100px !important; 
    margin-left: 100px !important;
    display: none;
    outline: none;
    background: none;
    box-shadow: none;
    border:none;
}
#imagen:hover .foto{
    display: block;
}
@media(max-width:1024px){
    .boxContainerData2{
        width: 94%;
         margin: auto;
    }
}
@media(max-width:720px){
    .boxContainerData{
        width: 96%;
        margin: auto;
    }
    .botones2{
        width:90%;
        margin: auto;
    }
    .boxContainerData2{
        width: 96%;
       
    }
    .botones21{
        width:90%;
        margin: auto;
    }
    .botones22{
        width:90%;
        margin: auto;
    }
    .botones23{
        width:90%;
        margin: auto;
    }
    #foto{
        margin-top: 14px;
    }
    #espa{
        display: none;
    }
    .title_datosPersonales{
        margin: 0px;
        margin-bottom: 10px;
    }
    .btn_actualizarEstudiante{
        font-size: 27px;
        width: 180px;
    }
    .camposDeDatos2.ui-inputfield{
    width: 96%;
    }
}
@media only screen and (max-width: 640px){ 
    .boxInfo{
        width: 82%;
    }
    .datos{
        width:80%;
        margin: auto;
        display: flex;
        padding: 5px 5px;
    }
    .texto_des{
        width: 100%;
    }
}