/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Autor: Walter Quichimbo
*/
footer {
   background: #1976D3;
    color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

.box_txt{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: Arial;
    line-height: 40px;
}
.uno,.txt_copy{
     display: inline-block;
     margin: 0px 10px;
}
.txt_copy{
     display: inline-block;
}
