/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-dic-2019, 23:44:23
    Author     : Dario
*/
.box_footer{
    /*padding: 10px 20px;*/
    background: #1976D3;
    /*border-top: 10px solid #186BBE;*/
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}
.box_iconos,.icono_footer,.box_txt,.txt_copy,.uno{
    display: inline-block;
    vertical-align: top;
}
.icono_footer{
    font-size: 22px;
    color: #fff;
    margin-right: 10px;
}
.box_txt{
    margin-left: 10px;
    margin-top: 4px;
    font-size: 14px;
}
.uno{
    margin-right: 20px;
    cursor: pointer;
}
.txt_copy{
    font-size: 14px;
    cursor: pointer;
    margin-left: 480px;
    margin-top: 4px;
}

@media(max-width:720px){
    .icono_footer{
        font-size: 35px;
        margin: 0px 15px;
    }
    .uno{
        font-size: 14px;
        margin-top: 7px;
    }
    .txt_copy{
        font-size: 11px;
        display: block;
        margin: 25px 0px;
        
    }
}
