/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-dic-2019, 16:36:29
    Author     : Dario
*/
body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /*background-color: #E8F0F2;*/
background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contenedor {
  /*background: #EEE;*/
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.container_login {
  width: 300px;
  text-align: center;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  /*box-shadow: 0px 0px 1px 0px #BABABA;*/
  -webkit-box-shadow: 2px 2px 8px 0px rgba(50, 48, 50, 0.49);
-moz-box-shadow: 2px 2px 8px 0px rgba(50, 48, 50, 0.49);
box-shadow: 2px 2px 8px 0px rgba(50, 48, 50, 0.49);
}

.title_sistema{
    font-family: Arial;
    color: #1976D3;
    font-weight: bold;
    font-size: 22px;
    text-align: center;

}
.iconLogin{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.title_log{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    font-family: sans-serif;
    color: #4F4F4F;
}
.container_login .txt_titles{
    display: block;
    font-family: sans-serif;
    font-size: 15px;
    color: #8f9191;
}
.cont_cajas{
    text-align: left;
    display: inline-block;
}
.container_login .caja{
    background: transparent;
    margin-bottom: 20px;
    margin-top: 7px;
    border:none;
    border-radius: 4px;
    display: flex;
    transition: all .3s ease; 
}
.container_login .caja .icon{
    color: #ccc;
    display: inline-block;
    font-size: 22px;
    padding: 3px 0px;
    margin-left: 5px;
    position: absolute;
    transition: all .3s ease;

}
.container_login .txt{
    width: 100%;
    display: inline-block;
    padding: 3px 0px;
    font-size: 20px;
    letter-spacing: 1px;
    background: none;
    border: none;
    outline: none;
    color: #454545;
    font-family: sans-serif;
    text-align: center;
    border-bottom: 2px solid #A4A4A4;
    transition: all .3s ease;
}
.txt:hover{
    border-bottom: 2px solid #007bff;
}
.txt:focus{
    border-bottom: 2px solid #007bff;
}

.container_login .caja:hover .icon{
    color:#007bff;
}


.mesage{
    color: #cc0000;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 10px;
}
.container_login .btn_login{
    width:140px;
    height: 40px;
    background: #57a3f4; 
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    border:none;
    box-shadow: none;
    text-shadow:none;
    outline: none;
    margin-top: 4px; 
    transition: all .3s ease; 
}
.container_login .btn_login:hover{
    color: #000;
    box-shadow: 0px 0px 1px 1px #454545;
    -webkit-box-shadow: 0px 0px 1px 1px #454545;
    cursor: pointer;
}
.olv{
    color: #1976D3;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    font-family: sans-serif;
}

@media(max-width:720px){

    body{
        background: #fff;
    }
    .container_login{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        padding-top: 35px;
        border: none;
        box-shadow: none;
    }
    .title_sistema{
        font-size: 25px;
        margin: 20px;
    }
    .container_login .btn_login{
        width: 310px;
        font-size: 16px;
        height: 50px;
        margin: 0px;
    }
    .olv{
        margin-top: 5px;
        margin-bottom: 10px;
        display: block;
        font-size: 15px;
    }
    .mesage{
        font-size: 14px;
        margin-top: 15px;
    }
}
